@font-face {
  font-family: 'nns-solar-icon';
  src: url('https://cdn.jsdelivr.net/gh/vedantnanotkar/Vicons@main/NNS/font/nns-solar-icon.eot?33010300');
  src: url('https://cdn.jsdelivr.net/gh/vedantnanotkar/Vicons@main/NNS/font/nns-solar-icon.eot?33010300#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/vedantnanotkar/Vicons@main/NNS/font/nns-solar-icon.woff?33010300') format('woff'),
       url('https://cdn.jsdelivr.net/gh/vedantnanotkar/Vicons@main/NNS/font/nns-solar-icon.ttf?33010300') format('truetype'),
       url('https://cdn.jsdelivr.net/gh/vedantnanotkar/Vicons@main/NNS/font/nns-solar-icon.svg?33010300#nns-solar-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon {
  font-family: "nns-solar-icon";
  font-style: normal;
  font-weight: normal;
}
